<!DOCTYPE html>
<html>
<head>
    <% include templates/head.ejs %>
</head>
<body>
<div class="container">
    <% include templates/header.ejs %>
    <!-- <div  class="colDecor"> -->
        <legend><h3>2015 Schedule</h3></legend>
        <table class="table table-bordered table-striped colDecor">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Host</th>
                <th>Location</th>
                <th>Time</th>
                <th>Type</th>
                <th>Result</th>
            </tr>
            <% tournaments.forEach(function(tourney){%>
                <tr>
                    <td><%= tourney.date %></td>
                    <td><%= tourney.name %></td>
                    <td><%= tourney.host %></td>
                    <td><%= tourney.address+"\n\n "+tourney.city+','+tourney.state+' '+tourney.zip %></td>
                    <td><%= tourney.time +':' +tourney.date.getMinutes()+'0'%></td>
                    <td><%= tourney.type %></td>
                    <td><%= tourney.result %></td>
                </tr>
            <%}) %>
        </table>
    <!-- </div> -->
</div>
</body>
</html>